.fieldGroup{
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: flex-start;
  // z-index: $z2;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  // background-color: $color-tint-1;
  @include breakpoint(medium){
    flex-wrap: nowrap;
  };
  // overflow: hidden;
  // box-shadow: $shadow-z3;
}
.fieldGroup > div{
  margin-right: 1px;
  margin-left: 1px;
}
.fieldGroup > div:last-of-type{
  margin-right: 0;
}
.fieldGroup > div:first-of-type{
  margin-left: 0;
}
.fieldGroup:last-child{
  // box-shadow: none;
  // position: absolute;
}
.fieldGroup .textField-wrap{
  // box-shadow: none;
  // position: absolute;
}
