.textField-wrap{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin: 0 auto;
//   background-color: $color-tint-1;
//   box-shadow: $shadow-z3;
  z-index: $z2;
}
.textField-wrap:last-of-type{
  // box-shadow: none;
}
.textField-input{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    color: $color-dark-gray;
    padding: 30px 15px 15px 15px;
    background-color: $color-tint-3 ;
    border: none;
    box-shadow: none;
    display: block;
    font-size: $font-size-default;
    resize: none;
    margin:0;
    z-index: $z2;
}
// .textField-input:-webkit-autofill {
//     background-color: rgb(255, 255, 255)!important;
//     background: none;
//     color: rgb(0, 0, 0);
// }
.textField-input:focus{
    background: $color-tint-3;
    outline: none;
    border: none;
    box-shadow: none;
}
.textField-input:disabled{
    background: $color-tint-3;
    color: $color-tint-0;
}
.textField-underline{
    // position: relative;
    display: block;
    background: $color-secondary-2;
    height: 2px;
    transform: rotateY(90deg);
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
}
.textField-input:focus ~ .textField-underline{
    transform: rotateY(0deg);
}
.textField-label {
    color: lighten($color-dark-4, 20);
    position: absolute;
    transform: translateY(-45px);
    left: 15px;
    font-size: $font-size-default;
    pointer-events: none;
    z-index: $z3;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.textField-input:focus ~ .textField-label{
    color: $color-secondary-2;
    font-size: $font-size-down-2;
    transform: translateY(-56px);
}
.textField-label--dirty{
    font-size: $font-size-down-2;
    color: $color-gray-0;
    transform: translateY(-56px);
}
.textField-input:disabled ~ .textField-label{
    color: $color-gray-3;
}
.textField-error{
  position: absolute;
  transform: translateY(-56px);
  left: 15px;
  color: map-get($foundation-palette, alert);
  font-size: $font-size-down-2;
}
