.text-area:focus ~ .text-area-label,
.text-area:valid ~ .text-area-label,
.text-area:disabled ~ .text-area-label,{
    // bottom: 76px;
}


.multiLineField{
  box-sizing: border-box;
  position: relative;
  // max-width: 720px;
  // min-width: 300px;
  width: 100%;
  // height: 72px;
  margin: 0 auto;
  // padding-top: 16px;
  // padding-bottom: 8px;
//   background-color: $color-tint-1 ;
//   box-shadow: $shadow-z3;
  z-index: $z2;
}
.multiLineField:last-of-type{
  // margin-bottom: 30px;
}
.multiLineField-input{
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    color: $color-dark-gray;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: $color-tint-3 ;
    border: none;
    // border-width: 1px;
    // border-bottom-width: 2px;
    // border-style: solid;
    // border-color: $color-mid-gray;
    box-shadow: none;
    display: block;
    font-size: $font-size-default;
    resize: none;
    margin:0;
    z-index: $z2;
    // transition: border-bottom-width 0.2s ease-in-out 0s, height 0.2s ease-in-out;
}
.multiLineField-input:-webkit-autofill {
    background-color: rgb(255, 255, 255)!important;
    background: none;
    color: rgb(0, 0, 0);
}
.multiLineField-input:focus{
    background: $color-tint-3;
    // height: 76px;
    transform: scaleY(120%);
    outline: none;
    border: none;
    border-bottom-width: 0;
    box-shadow: none;
}
.multiLineField-input:disabled{
    background: transparent;
    color: $color-light-gray;
}
.multiLineField-underline{
    position: relative;
    // bottom:1px;
    display: block;
    background: $color-secondary-2;
    height: 2px;
    transform: rotateY(90deg);
    transition: transform 0.5s, height 0.5s;
}
.multiLineField-input:focus ~ .multiLineField-underline{
    transform: rotateY(0deg);
    height: 2px;
}
.multiLineField-label {
    color: lighten($color-dark-4, 20);
    position: absolute;
    transform: translateY(-85px);
    left: 15px;
    font-size: $font-size-default;
    pointer-events: none;
    z-index: 1;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}
.multiLineField-input:focus ~ .multiLineField-label,
.multiLineField-label--dirty,
.multiLineField-error{
    font-size: $font-size-down-2;
    transform: translateY(-110px);
}
.multiLineField-input:focus ~ .multiLineField-label{
    color: $color-secondary-2;
}
.multiLineField-label--dirty{
    color: $color-gray-0;
}
.multiLineField-error{
  position: absolute;
  left: 15px;
  color: map-get($foundation-palette, alert);
  font-size: $font-size-down-2;
  // height: 16px;
}
