//*************************Import Google Fonts
//********************************************
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

//*******************Import Component Manifest
//********************************************
@import './components/styles.manifest';
@import './views__pages__site/styles.manifest';
@import './views__partials/styles.manifest';
@import './views__templates/styles.manifest';
@import './lib/styles.manifest';
@import './widgets/styles.manifest';

html{
  overflow-y: scroll;
}

html, body {
    height: 100%;
    padding: 0;
    // overflow: scroll;
}

div, header, footer, section, span {
  box-sizing: border-box;
}
hr{
  border-bottom-color: $color-tint-0;
}

//***********************Shared utility styles
//********************************************

.app-wrapper, #app{
  position: relative;
  width: 100%;
  height: 100%;
}
