.data-table{
  width:100%;
  border-collapse: collapse;
}
.data-table th{
  // background-color: $color-tint-0;
  padding: 15px;
  border: none;
  text-align: left;
}
.data-table .hide-data-column{
  display: none;
  @include breakpoint(medium){
    display: table-cell;
  };
}
.data-table .data-table-right-align{
  text-align: right;
}
.data-table tr{
  // background-color: $color-tint-2;
  border-top: 1px solid $color-gray-4;
  // border-left: 1px solid $color-gray-4;
  // border-right: 1px solid $color-gray-4;
  // transition: background-color 0.2s ease-in-out;
}
.data-table tr:first-of-type{
  // background-color: $color-tint-1;
  border-top: none;
}
.data-table tr:last-of-type{
  // background-color: $color-tint-1;
  // border-bottom: 1px solid $color-gray-4;
}
.data-table tr:nth-of-type(2n){
  // background-color: $color-tint-3;
}
.data-table td{
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  vertical-align: middle;
}
.data-table td:first-of-type,
.data-table th:first-of-type{
  padding-right: 0;
}
.data-table-image{
  width: 40px;
  text-align: center;
  // vertical-align: middle;
}
.data-table-image>span{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  margin-right: 0;
}
.data-table tr:hover{
  // background-color: $color-tint-3;
  // cursor: pointer;
}
.data-row-context{
  padding-top: 7.5px;
  padding-bottom: 7.55px;
  box-sizing: border-box;
  width:100%;
  height: 100%;
  position: absolute;
  bottom:-35px;
}
.data-row-context>span{
  margin-right: 15px;
  font-size: $font-size-down-1;
  // font-weight: 400;
  color: $color-gray-0;
}
.data-row-context>span:hover{
  cursor: pointer;
}
.data-table-key{
  color: $color-primary-0;
  font-weight: $global-weight-bold;
  transition: color 0.2s ease-in-out;
}
.data-table-key:hover{
  color: $color-secondary-0;
  cursor: pointer;
}
.data-table-action-button-wrap{
  width:35px;
}
.data-table-action-button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 1px solid $color-gray-2;
  color: $color-gray-2;
  border-radius: 1000px;
  margin-right: 0;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.with-text-label{
  width: auto;
}
.with-text-label>i{
  margin-right: 7.5px;
}
.icon-label-only{
  width: 35px;
}
.data-table-action-button:hover{
  cursor: pointer;
  border: 1px solid $color-primary-2;
  color: $color-primary-2;
}
.data-table-action-text{

}
.data-table-action-text:hover{

}
.data-table .select-option{
  min-width: 0;
  margin-right: 0;
  margin-bottom: 0;
}
