.uploadField{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.upload-label{
  color: $color-dark-4;
  background: $color-white;
  opacity: 0.8;
  border: 1px solid $color-light-gray;
  // padding: 15px;
  border-radius: 4px;
  text-align: center;
  // margin-bottom: 17px;
  transition: opacity 0.2s ease-in-out;
}
.upload-label:hover{
  opacity: 1;
}
.upload-label>span{
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: $font-size-up-1;
  font-family: Roboto;
  font-weight: 700;
}
.upload-label i{
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: $font-size-up-2;
  margin-right: 7.5px;
}
.upload-icon{
  position: relative;
  color: $color-dark-4;
  padding: 15px;
  opacity: 0.3;
  transform: scale(0.8);
  border-radius: 4000px;
  text-align: center;
  // margin-top: 1rem;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.upload-icon:hover{
  opacity: 0.6;
  transform: scale(0.9);
  cursor: pointer;
}
.upload-icon>i{
  font-size: 5rem;
}
.upload-field{
  display: none;
}
.upload-label:hover{
  cursor: pointer;
}
