.tabber {
  background-color: lighten($color-off-white, 3);;
  // border: 1px solid $color-light-gray;
}
.tabber-content{
  box-sizing: border-box;
  background-clip: padding-box;
  padding: 30px;
  background-color: $color-white;
  min-height: 680px;
  overflow-y: scroll;
}
.tabber-menu{
  list-style-type: none;
  margin-left: 0;
}

.tabber-tab{
  position: relative;
  max-height: 86px;
  padding: 30px;
}
.tabber-tab:hover{
  cursor: pointer;
  color: $color-primary-0;
}
.tabber-tab  i{
  padding-right: 30px;
}
.tabber-tab-active{
  background-color: $color-white;
  color: $color-primary-0;
}
.tabber-tab-active>i, .tabber-tab-active>span{
  color: $color-secondary-0;
}
.tab-shield{
  position: absolute;
  top: 0;
  right: -6px;
  background-color: $color-white;
  width: 60px;
  height: 85px;
}
.show-tab-shield{
  display: block;
}
.hide-tab-shield{
  display: none;
}
.top-tabber .tabber-menu{
  display: flex;
  background-color: $color-white;
  border-bottom: 1px solid $color-light-gray;
  margin-bottom: 0;
}
.top-tabber .tabber-tab{
  box-sizing: border-box;
  padding: 0 30px;
  max-height: 78px;
  text-align: center;
  flex: 1;
}
.top-tabber .tabber-tab  i{
  padding-right: 5px;
  // text-align: left;
}
.top-tabber .tabber-tab-content{
  // min-height: 86px;
  border-top: 5px solid $color-white;
  border-bottom: 5px solid $color-white;
  display: inline-block;
  padding: 15px 5px;
}
.top-tabber .tabber-tab-active .tabber-tab-content{
  border-bottom: 5px solid $color-secondary-0;
}
.top-tabber .tab-shield{
  display: none;
}
.side-tabber .tabber-content{
  border-left: 1px solid $color-light-gray;
}
.side-tabber .tabber-menu{
  float: left;
  width: 300px;
}
.side-tabber .tabber-tab{
  border-bottom: 1px solid $color-light-gray
}
.side-tabber .tabber-tab-active{
  border-left: 5px solid $color-secondary-0;
}
