.gallery-item-placeholder{
  box-sizing:border-box;
  width: 100px;
  height: 100px;
  background-color: $color-tint-0;
  color: $color-gray-1;
  font-weight: 700;
  margin: 0 auto;
  padding: 5px;
  // border: 5px solid $color-tint-2;
  border-radius: 3px;
}
.gallery-image{
  margin: 0 auto;
}
