.tile-wrap{
  box-sizing: border-box;
  z-index: $z5;
  position: relative;
  height: 240px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px ;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  box-shadow: $shadow-z2;
  overflow: hidden;
  // overflow-y: hidden;
  // border-radius: $edge-radius;
  border-radius: 5000px;
  // transition: all 0.5s ease-in-out;
}
// .tile-wrap:hover{
//   position: relative;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   border-radius: 5000px;
// }
.tile-image{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  // transition: transform 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.tile i{
}
.tile-title{
  z-index: $z6;
  pointer-events: none;
}
.tile-image:hover{
  // position: absolute;
  z-index: $z2;
  // opacity: 0.1;
  // background-size: 120%;
  transform: scale(1.2);
}
