.modal{
  display: block;
  // position: fixed;
  padding-bottom: 80px;
  z-index: $z9;
}
.modal-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: $z7;
}
.modal-hidden{
  display: none;
}
.modal-visible{
  display: flex;
}
.close-button-wrap{
  display: block;
  text-align: right;
  margin-bottom: 15px;
  font-weight: 700;
}
.close-button{
  color: #ffffff;
  padding: 5px;
}
.close-button:hover{
  cursor: pointer;
}
