.addButton-wrap{
  display: block;
  margin-bottom: 15px;
  text-align: center;
  @include breakpoint(medium){
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
  };
}
.addButton-wrap:last-child{
  margin-right: 0;
}
.addButton{
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  // max-width: 460px;
  background-color: $color-white-transparent-3;
  color: $color-dark-4;
  font-weight: $global-weight-bold;
  padding: 7.5px 30px 7.5px 7.5px;
  // font-size: $font-size-up-1;
  border: 1px solid $color-gray-4;
  border-radius: 500px;
  // box-shadow: $shadow-z2;
  transition: all 0.5s ease-in-out;
}
.addButton i{
  // display: inline-block;
  // display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-4;
  color:$color-white ;
  padding: 10px;
  margin-right: 15px;
  // width: 40px;
  // height: 40px;
  border-radius: $global-rounded;
  font-size: 18px;
}
.addButton:hover{
  cursor: pointer;
  background-color: $color-white;
  color: $color-dark-0;
  box-shadow: $shadow-z3;
}
.addButton em{
  flex: 1;
  font-style: normal;
  font-weight:  $global-weight-bold;
}
