.selectButton{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: $color-off-white;
    height: 72px;
}
.selectButton-button{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  // box-shadow: $shadow-z3;
  z-index: $z3;
  background-color: $color-tint-3;
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  border-right: none;
  border-bottom: 2px solid $color-tint-1;
  text-align: left;
  color: $color-dark-gray;
  font-weight: 700;
  padding: 0 30px;
  margin-bottom: 0;
  height: 72px;
  transition: all 0.25s ease-in-out;
}
.selectButton-button i, .selectButton-buttonMask i{
  float: right;
}
.selectButton-button:focus{
  outline: none;
  background-color: $color-off-white;
  border: none;
  border-right: none;
  box-shadow: none;
}
.selectButton-dropdown{
  position: absolute;
  z-index: $z9;
  width: 100%;
  // top: 72px;
  right: 0;
  background: #ffffff;
  box-shadow: 1px 1px 4px -1px rgba(60, 60, 60, 0.2);
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;;
}
.selectButton-dropdown:focus{
  outline: none;
}
.selectButton-option{
  display: flex;
  z-index: $z9;
  font-size: $font-size-down-1;
  font-weight: 700;
  align-items: center;
  height: 72px;
  border-bottom: 2px solid $color-tint-1;
  padding: 24px 30px;
  transition: all 0.25s ease-in-out;
}
.selectButton-option:last-of-type{
  // border-bottom: none;
}
.selectButton-option:hover{
  background: $color-tint-3;
  cursor: pointer;
}
.selectButton-dropdown.show-dropdown{
  height: auto;
}
.selectButton-dropdown.hide-dropdown{
  height: 0;
}
.selectButton-button.show-dropdown{
  display: none;
}
.selectButton-button.hide-dropdown{
  display: block;
}
.selectButton-label{
  font-size: $font-size-down-2;
  color: $color-gray-0;
  padding-bottom: 3.5px;
}
