.selectButton{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: $color-off-white;
    border-bottom: 2px solid $color-mid-gray;
    height: 72px;
}
.selectButton-button{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  box-shadow: $shadow-z3;
  z-index: $z3;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  background-color: $color-tint-3;
  // background-image: url('assets/img/caret.png');
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  border-right: none;
  text-align: left;
  color: $color-dark-gray;
  font-weight: 700;
  padding: 0 30px;
  margin-bottom: 0;
  height: 72px;
}
.selectButton-button i, .selectButton-buttonMask i{
  float: right;
}
.selectButton-buttonMask{
  z-index: $z8;
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  position: absolute;
  background-color: $color-tint-3;
  text-align: left;
  color: $color-dark-gray;
  font-weight: 700;
  padding: 0 30px;
  margin-bottom: 0;
}
.selectButton-button:focus{
  outline: none;
  background-color: $color-off-white;
  border: none;
  // border-top: 1px solid $color-mid-gray;
  border-right: none;
  box-shadow: none;
}
// .header-search-type-select::after{
//   content: url('assets/img/caret.png');
//   padding-left: 15px;
//   vertical-align: middle;
// }
.selectButton-dropdown{
  position: absolute;
  z-index: $z5;
  width: 100%;
  top: 72px;
  right: 0;
  background: #ffffff;
  box-shadow: 1px 1px 4px -1px rgba(60, 60, 60, 0.2);
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
  overflow: hidden;
  transition: height 1s;
}
.selectButton-dropdown:focus{
  outline: none;
}
.selectButton-option{
  font-size: $font-size-down-1;
  font-weight: 700;
  display:block;
  border-bottom: 1px solid $color-tint-2;
  // text-align: center;
  padding: 24px 30px;
}
.selectButton-option:last-of-type{
  border-bottom: none;
}
.selectButton-option:hover{
  background: $color-tint-3;
  cursor: pointer;
}
.selectButton-show-dropdown{
  height: auto;
}
.selectButton-hide-dropdown{
  height: 0;
}
